PORT=4000
DATABASE_URL="postgresql://admin:admin%40password@localhost:5432/reachinbox_scheduler"
REDIS_URL="redis://localhost:6379"
ETHEREAL_SMTP_HOST=smtp.ethereal.email
ETHEREAL_SMTP_PORT=587
GOOGLE_CLIENT_ID="your_google_client_id"
JWT_SECRET="your_jwt_secret"
